{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-confusing-arrow": 0,
    "semi": ["error", "never", { "beforeStatementContinuationChars": "always"}],
    "no-case-declarations": 0,
    "no-underscore-dangle": 0,
    "no-nested-ternary": 0,
    "max-len": ["error", 120],
    "camelcase": 0,
    "no-plusplus": 0
  },
  "env": {
    "node": true,
    "mocha": true
  }
}